---
layout: default
---
<div id="page">
  {% if page.issue %}
    <section class="toc before">
      <a class="badge" href="#issue">
        <h2>
          Issue
          <strong>{{ page.issue }}</strong>
        </h2>
      </a>
      <div id="issue">
        <section class="contents outlined">
          {% capture issue %}issue{{ page.issue }}{% endcapture %}
          {% assign contents = site.data.issues[issue].contents %}
          {% include posts/cards.html contents=contents %}
        </section>
      </div>
    </section>
	{% endif %}
	<article>
		<header>
<!-- 
			{% if page.featured_image %}
				<div class="header-image">
				</div>
			{% endif %}
 -->
			{% if page.type %}
				<h3 class="type">{{ page.type }}</h3>
			{% endif %}
			{% if page.title_image %}
				<h1>{% include picture.html path=page.title_image alt=page.title %}</h1>
			{% else %}
				<h1>{{ page.title }}</h1>
			{% endif %}
			{% if page.subtitle %}
				<h2 class="subtitle">{{ page.subtitle }}</h2>
			{% endif %}
			<h4 class="by">by {{ page.by }}</h4>
		</header>
		
		{{ content }}
		
		{% for block in page.blocks %}
		  {{ block.content | markdownify }}
		{% endfor %}
		
		<footer>
			{% if page.bio %}{{ page.bio | markdownify }}{% endif %}
			{% if page.illustrator %}
				<p>Illustration by <a href="{{ page.illustrator.url }}">{{ page.illustrator.name }}</a></p>
			{% endif %}
			{% if page.endnote %}{{ page.endnote | markdownify }}{% endif %}
			{% if page.section_note %}{{ page.section_note | markdownify }}{% endif %}
		</footer>
	</article>
</div>
{% if page.issue %}
  <section class="toc after">
    <div class="badge">
      <h2>
        Issue
        <strong>{{ page.issue }}</strong>
      </h2>
    </div>
    <div>
      <section class="contents">
        {% capture issue %}issue{{ page.issue }}{% endcapture %}
        {% assign contents = site.data.issues[issue].contents %}
        {% include posts/cards.html contents=contents %}
      </section>
    </div>
  </section>
{% endif %}