<footer id="page-footer">
	<p><cite>Midnight Breakfast</cite> is a free online literary magazine publishing a diverse selection of fiction, nonfiction, interviews, and visual art that we hope will spark conversation. <a href="/about/">More &rsaquo;</a></p>
	
	<div class="meta">
		<a href="/an-ongoing-conversation/">Our Story</a>
	</div>
	
	<div class="social">
		<a href="http://twitter.com/mbfast/">
			<i class="ss-icon">Twitter</i>
			<span>mbfast</span>
		</a>
		<a href="http://facebook.com/midnightbreakfast/">
			<i class="ss-icon">Facebook</i>
			<span>midnightbreakfast</span>
		</a>
	</div>
	
	<div class="message">
		<p>
			Sign up for <a href="/signup/">our mailing list</a> to get the latest news and updates from&nbsp;<cite>Midnight&nbsp;Breakfast</cite>.
		</p>
	</div>

</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6627264-1', 'midnightbreakfast.com');
  ga('send', 'pageview');

</script>