<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if page.title %}{{ page.title }}{% if page.by %} by {{ page.by }}{% endif %}{% else %}Midnight Breakfast{% endif %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/assets/fonts/charter/stylesheet.css">
	<link rel="stylesheet" href="/assets/fonts/franklingothic/stylesheet.css">
	<link rel="stylesheet" href="/assets/fonts/ss-social/ss-social-regular.css">
	<link rel="stylesheet" href="/assets/css/reset.css">
	<link rel="stylesheet" href="/css/main.css?v6">
	<script src="/assets/js/lib/matchMedia.js"></script>
	<script src="/assets/js/lib/picturefill.js"></script>
	<script src="/assets/js/lib/jquery.js"></script>
	<script src="/assets/js/main.js"></script>
</head>
