$bg-color: #111;
$screen-m: "screen and (min-width: 30em)";
$screen-l: "screen and (min-width: 50em)";
$serif: Charter, serif;
$sans: Franklin, sans-serif;

/* General */

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.35;
	background: $bg-color;
	color: white;
}
@media #{$screen-m} {
	body {
		font-size: 120%;
		line-height: 1.4;
	}
}
@media screen and (min-width: 55em) {
	body {
		font-size: 125%;
	}
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* General */

img {
	max-width: 100%;
}

a {
	color: inherit;
}
a:hover, a:focus, a:active {
	text-decoration: underline;
	outline: none;
}

em, cite {
	font-style: italic;
}
strong {
	font-weight: bold;
}

h1 {
	font-weight: bold;
	font-size: 2em;
	line-height: 1;
	@media #{$screen-m} {
		font-size: 2.5em;
	}
}
h2 {
	margin: 0 0 1.5em;
	font-family: $sans;
	article & {
		margin-top: 3em;
		font-family: $serif;
	}
	font-weight: bold;
}
h3 {
	margin-top: 1.5em;
	font-family: $sans;
	font-weight: bold;
}
h4 {
	margin: 0 0 2em;
	font-family: $sans;
	font-weight: bold;
	color: #888;
}
p {
	margin-bottom: 1.35em;
	max-width: 35em;
}
blockquote {
	margin: 1.5em auto;
	font-style: italic;
	max-width: 37em;
	border-left: .25em solid rgba(0,0,0,.1);
	padding-left: .75em;
	padding-right: 1em;
	cite {
		font-style: normal;
	}
}

hr {
	border: none;
	border-top: 3px solid white;
	margin: .25em 0;
	article & {
		border-top: 1px solid rgba(0,0,0,.25);
		width: 50%;
		margin: 1.5em auto;
	}
}

figure {
	margin-bottom: 1.5em;
	img {
		display: block;
		margin-bottom: 1.5em;
	}
	figcaption {
		font-style: italic;
	}
	&.middle {
		text-align: center;
		img {
			margin: auto;
		}
	}
	@media #{$screen-m} {
		&.left {
			float: left;
			max-width: 45%;
			margin-right: 1.5em;
		}
		&.right {
			float: right;
			max-width: 45%;
			margin-left: 1.5em;
		}
	}
}

ul {
	list-style: square;
}

small {
	font-family: $sans;
	color: #AAA;
	white-space: nowrap;
	font-weight: normal;
}



.cover {
	margin: 0 1.5em;
}

#page {
	background: #FFF;
	margin: 0 0 1.5em;
	@media #{$screen-m} {
		margin: 0 1.5em 1.5em;
	}
	color: black;
	position: relative;
}

a.badge {
	&:hover {
		background: #333;
		text-decoration: none;
	}
	&:active {
		top: 2px;
	}
}
.badge {
	display: block;
	text-decoration: none;
	margin: -2.5em auto -4em -2em;
	width: 4em;
	height: 4em;
	border-radius: 4em;
	color: white;
	background: black;
	box-shadow: 0 0 1px 1px white, 0 0 1px 2px white, 0 0 1px 3px white, 0 0 1px 4px black, 0 0 1px 5px black;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 10;
	h2 {
		margin: 0;
		padding: 2em 0;
		text-align: center;
		font-family: $sans;
		text-transform: uppercase;
		font-size: .5em;
		letter-spacing: .2em;
		strong {
			display: block;
			font-family: $serif;
			font-size: 3em;
			font-style: italic;
			line-height: 1;
		}
	}
}


$logo-height: 2em;
#logo {
	height: $logo-height;
	width: 7.01041666667 * $logo-height;
	max-width: 100%;
	margin-top: $logo-height / 2;
}
body.home #logo {
	@media #{$screen-m} {
		$logo-height: 3em;
		height: $logo-height;
		width: 7.01041666667 * $logo-height;
		margin-top: $logo-height / 2;
	}
}
#wordmark {
	fill: white;
}

.toc {
	position: relative;
	&.outset {
		margin: 0 -.5em;
	}
	&.before {
		display: none;
	}
	@media #{$screen-l} {
		&.before {
			display: block;
		}
	}
}

.tagline {
	font-size: 1.125em;
	border-top: 1px solid rgba(255,255,255,.5);
	border-bottom: 2px solid white;
	padding: .5em 0;
	margin-bottom: 2em;
	text-align: center;
	@media #{$screen-l} {
		text-align: left;
		margin-bottom: 1.5em;
	}
}

.cards {
	padding: .25em;
	@extend .clearfix;
	#page & {
		background: $bg-color;
		border: .25em solid white;
	}
	.toc.after & {
		margin: 0 1em;
	}
	.container {
		float: left;
		width: 50%;
		&:nth-child(2n+1) {
			clear: left;
		}
		@media #{$screen-l} {
			width: 33.33333%;
			&:nth-child(2n+1) {
				clear: none;
			}
			&:nth-child(3n+1) {
				clear: left;
			}
		}
	}
	a.card {
		display: block;
		margin: .25em;
		text-decoration: none;
		color: white;
		.pic {
			img {
				display: block;
			}
		}
		header {
			text-align: left;
			.inner {
				padding: .5em 0 1em;
			}
		}
		&:hover {
			h2 {
				text-decoration: underline;
			}
		}
		h1, h2, h3, h4 {
			margin: 0;
			padding: 0;
			font-weight: normal;
			line-height: 1;
		}
		h2 {
			font-family: $sans;
			font-weight: bold;
		}
		h4 {
			font-family: $serif;
			font-size: .75em;
			color: rgba(255,255,255,.5);
			margin-top: .2em;
		}
	}
}


.banner {
	display: block;
	text-align: center;
	padding: .25em 1.5em;
	text-decoration: none;
	background: rgba(255,255,255,.2);
	border-bottom: 1px solid rgba(255,255,255,.1);
	strong {
		font-family: Franklin, sans-serif;
		white-space: nowrap;
	}
	em {
		font-style: normal;
		text-decoration: underline;
		white-space: nowrap;
	}
	&:hover {
		text-decoration: none;
		background: rgba(255,255,255,.25);
	}
	@media #{$screen-l} {
		font-size: .75em;
	}
}

#primary-header {
	padding: .75em 1.5em .25em;
	@extend .clearfix;
	text-align: center;
	h1 {
		font-size: 1em;
		a {
			display: block;
			color: #FFF;
			text-decoration: none;
		}
		@media #{$screen-l} {
			float: left;
		}
	}
	nav {
		margin: 1em 0;
		font-size: .9em;
		font-weight: bold;
		@media #{$screen-l} {
			float: right;
			body.home & {
				font-size: 1em;
				margin-top: 2em;
			}
		}
		a {
			display: inline-block;
			margin-left: .25em;
			margin-right: .25em;
			@media #{$screen-m} {
				margin-left: 1.25em;
				margin-right: 0;
			}
			text-decoration: none;
			color: white;
			font-family: $sans;
			&:hover {
				text-decoration: underline;
			}
			&.button {
				background: white;
				color: black;
				padding: .25em 1em;
				border-radius: 3px;
				border-bottom: 2px solid rgba(0,0,0,.5);
			}
		}
	}
}

#page-footer {
	border-top: 2px solid white;
	padding-top: 1.5em;
	margin: 1.5em;
	p {
		margin-left: auto;
		margin-right: auto;
	}
	.meta {
		text-align: center;
		margin: 1.5em 0;
		font-family: $sans;
		font-weight: bold;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.social {
		text-align: center;
		margin: 1.5em 0;
		font-family: $sans;
		a {
			text-decoration: none;
			margin: 0 .5em;
			.ss-icon {
				position: relative;
				top: .1em;
			}
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}
	.message {
		text-align: center;
		font-style: italic;
		em, cite {
			font-style: normal;
		}
	}
}

article {
	padding: 0 1.35em 10%;
	h1, h2, h3, h4, p {
		max-width: 35em;
		margin-left: auto;
		margin-right: auto;
	}
	header {
		text-align: center;
		margin: 0 0 2.7em;
		padding: 3em 0 2em;
		border-bottom: 3px double rgba(0,0,0,.1);
		&.portrait {
			background: green;
			display: table;
			width: 100%;
			.header-image {
				display: table-cell;
			}
			.header-title {
				display: table-cell;
				text-align: center;
				vertical-align: middle;
			}
		}
		.type {
			text-transform: uppercase;
			letter-spacing: .2em;
			font-size: smaller;
			font-weight: bold;
			margin: 0 auto 1em;
			border-bottom: 1px solid rgba(0,0,0,.1);
			@media #{$screen-m} {
				width: 50%;
			}
		}
		h1 {
			margin: 0 0 .25em;
		}
		h2 {
			margin: 0;
			font-style: italic;
			font-size: 1.25em;
			margin: .5em 0;
		}
		.by {
			padding-top: .15em;
			margin-top: .15em;
		}
	}
	footer {
		max-width: 35em;
		margin: 4.5em auto 0;
		&:before {
			content: '';
			display: block;
			border-top: 1px solid rgba(0,0,0,.25);
			margin: 0 0 .5em;
			width: 50%;
		}
	}
}

.gifswap {
	position: relative;
	img {
		display: block;
	}
	.starter {
		position: absolute;
		top: 0;
		left: 0;
	}
}

#mailchimp {
	max-width: 25em;
	margin: auto;
	background: rgba(0,0,0,.05);
	padding: 0 .5em;
	border-radius: 3px;
	input {
		font-family: $sans;
	}
	#mc_embed_signup div#mce-responses {
		margin: 0;
		padding: 0;
		width: auto;
		font-family: $sans;
		.response {
			padding: 0;
			margin: .75em 0;
		}
	}
}