$bg-color: #111;
$screen-s: "screen and (min-width: 20em)";
$screen-m: "screen and (min-width: 30em)";
$screen-l: "screen and (min-width: 50em)";
$serif: Charter, serif;
$sans: Franklin, sans-serif;

/* General */

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.35;
	background: $bg-color;
	color: white;
	max-width: 60em;
	margin: auto;
	text-rendering: optimizeLegibility;
}
@media #{$screen-m} {
	body {
		font-size: 120%;
		line-height: 1.4;
	}
}
@media screen and (min-width: 55em) {
	body {
		font-size: 125%;
	}
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* General */

img {
	max-width: 100%;
}

a {
	color: inherit;
}
a:hover, a:focus, a:active {
	text-decoration: underline;
	outline: none;
}

em, cite, i {
	font-style: italic;
}
strong {
	font-weight: bold;
}

h1 {
	font-weight: bold;
	font-size: 2em;
	line-height: 1;
	@media #{$screen-m} {
		font-size: 2.5em;
	}
}
h2 {
	margin: 0 0 1.5em;
	font-family: $sans;
	article & {
		margin-top: 3em;
		font-family: $serif;
	}
	font-weight: bold;
}
h3 {
	margin-top: 1.5em;
	font-family: $sans;
	font-weight: bold;
}
h4 {
	margin: 0 0 2em;
	font-family: $sans;
	font-weight: bold;
	color: #888;
}
p {
	margin-bottom: 1.35em;
	max-width: 35em;
}
ul, ol {
  margin-bottom: 1.35em;
  li {
    margin-bottom: .675em;
  }
}
blockquote {
	margin: 1.5em auto;
	font-style: italic;
	max-width: 37em;
	border-left: .25em solid rgba(0,0,0,.1);
	padding-left: .75em;
	padding-right: 1em;
	cite {
		font-style: normal;
	}
}

hr {
	border: none;
	border-top: 3px solid white;
	margin: .25em 0;
	article & {
		border-top: 1px solid rgba(0,0,0,.25);
		width: 50%;
		margin: 3em auto;
		clear: both;
	}
	&.space {
	  border: none;
	  margin: 3em auto;
	}
}

figure {
	margin-bottom: 1.5em;
	img {
		display: block;
		margin-bottom: 1.5em;
	}
	figcaption {
		font-style: italic;
		font-size: .9em;
		p {
		  max-width: 38.88889em;
		}
		margin-top: -.5em;
		border-bottom: 1px solid rgba(0,0,0,.25);
	}
	&.middle {
		img {
			margin: 0 auto 1.5em auto;
		}
	}
  &.small {
    max-width: 50%;
    margin: auto;
    text-align: center;
  }
	@media #{$screen-m} {
		&.left {
			float: left;
			max-width: 45%;
			margin-right: 1.5em;
		}
		&.right {
			float: right;
			max-width: 45%;
			margin-left: 1.5em;
		}
	}
  @media #{$screen-l} {
		&.small {
		  max-width: 33.33333%;
		}
  }
}

ul {
	list-style: square;
}

small {
	font-family: $sans;
	color: #AAA;
	font-weight: normal;
}

.cols {
  margin-bottom: 3em;
}
.cols-wide {
  font-family: $sans;
  font-size: .9em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  max-width: 40em;
}
.cols-max-3 {
	@media #{$screen-m} {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    max-width: 40em;
	}
}
.cols-max-4 {
	@media #{$screen-l} {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    max-width: 60em;
	}
}

/* Layout */
.row {
  @extend .group;
  margin: 0 -.5em;
  article & {
    max-width: 36em;
    margin: 0 auto;
  }
}
.column { float: left; }
.module {
  margin: 0 .5em;
}
@media #{$screen-s} {
	.half { width: 50%; }
  .third, .thirds { width: 50%; }
  .fourth, .fourths { width: 50%; }
  .fifth, .fifths { width: 50%; }
  .sixth, .sixths { width: 50%; }
}
@media #{$screen-m} {
  .one.third, .one.thirds { width: 33.33333%; }
  .two.third, .two.thirds { width: 66.66667%; }
  .one.fourth, .one.fourths { width: 25%; }
  .three.fourth, .three.fourths { width: 75%; }
  .fifth, .fifths { width: 33.33333%; }
  .three.fifths, .four.fifths { width: 66.66667%; }
  .sixth, .sixths { width: 33.33333%; }
  .five.sixths, { width: 66.66667%; }
}
@media #{$screen-l} {
  .one.fifth, .one.fifths { width: 20%; }
  .two.fifth, .two.fifths { width: 40%; }
  .three.fifth, .three.fifths { width: 60%; }
  .four.fifth, .four.fifths { width: 80%; }
  .sixth, .sixths { width: 16.66667%; }
}


.cover {
	margin: 0 1.5em;
}

#page {
	background: #FFF;
	margin: 0 0 1.5em;
	@media #{$screen-m} {
		margin: 0 1.5em 1.5em;
	}
	color: black;
	position: relative;
}

a.badge {
	&:hover {
		background: #333;
		text-decoration: none;
	}
	&:active {
		top: 2px;
	}
}
.badge {
	display: block;
	text-decoration: none;
	margin: -2.5em auto -4em -2em;
	width: 4em;
	height: 4em;
	border-radius: 4em;
	color: white;
	background: black;
	box-shadow: 0 0 1px 1px white, 0 0 1px 2px white, 0 0 1px 3px white, 0 0 1px 4px black, 0 0 1px 5px black;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 10;
	h2 {
		margin: 0;
		padding: 2em 0;
		text-align: center;
		font-family: $sans;
		text-transform: uppercase;
		font-size: .5em;
		letter-spacing: .2em;
		strong {
			display: block;
			font-family: $serif;
			font-size: 3em;
			font-style: italic;
			line-height: 1;
		}
	}
}


$logo-height: 2em;
#logo {
	height: $logo-height;
	width: 7.01041666667 * $logo-height;
	max-width: 100%;
	margin-top: $logo-height / 2;
}
body.home #logo {
	@media #{$screen-m} {
		$logo-height: 3em;
		height: $logo-height;
		width: 7.01041666667 * $logo-height;
		margin-top: $logo-height / 2;
	}
}
#wordmark {
	fill: white;
}

.toc {
	position: relative;
	&.outset {
		margin: 0 -.5em;
	}
	&.before {
		display: none;
	}
	@media #{$screen-l} {
		&.before {
			display: block;
		}
	}
}

.tagline {
	font-size: 1.125em;
	border-top: 1px solid rgba(255,255,255,.5);
	border-bottom: 2px solid white;
	padding: .5em 0;
	margin-bottom: 2em;
	text-align: center;
	@media #{$screen-l} {
		text-align: left;
		margin-bottom: 1.5em;
	}
}

.cards {
	padding: .25em;
	@extend .clearfix;
	#page & {
		background: $bg-color;
		border: .25em solid white;
	}
	.toc.after & {
		margin: 0 1em;
	}
	.container {
		float: left;
		width: 50%;
		&:nth-child(2n+1) {
			clear: left;
		}
		@media #{$screen-l} {
			width: 33.33333%;
			&:nth-child(2n+1) {
				clear: none;
			}
			&:nth-child(3n+1) {
				clear: left;
			}
		}
	}
	a.card {
		display: block;
		margin: .25em;
		text-decoration: none;
		color: white;
		.pic {
			img {
				display: block;
			}
		}
		header {
			text-align: left;
			.inner {
				padding: .5em 0 1em;
			}
		}
		&:hover {
			h2 {
				text-decoration: underline;
			}
		}
		h1, h2, h3, h4 {
			margin: 0;
			padding: 0;
			font-weight: normal;
			line-height: 1;
		}
		h2 {
			font-family: $sans;
			font-weight: bold;
		}
		h4 {
			font-family: $serif;
			font-size: .75em;
			color: rgba(255,255,255,.5);
			margin-top: .2em;
		}
	}
}


.banner {
	display: block;
	text-align: center;
	padding: .25em 1.5em;
	text-decoration: none;
	background: rgba(255,255,255,.2);
	border-bottom: 1px solid rgba(255,255,255,.1);
	strong {
		font-family: Franklin, sans-serif;
		white-space: nowrap;
	}
	em {
		font-style: normal;
		text-decoration: underline;
		white-space: nowrap;
	}
	&:hover {
		text-decoration: none;
		background: rgba(255,255,255,.25);
	}
	@media #{$screen-l} {
		font-size: .75em;
	}
}

#primary-header {
	padding: .75em 1.5em .25em;
	@extend .clearfix;
	text-align: center;
	h1 {
		font-size: 1em;
		a {
			display: block;
			color: #FFF;
			text-decoration: none;
		}
		@media #{$screen-l} {
			float: left;
		}
	}
	nav {
		margin: 1em 0;
		font-size: .9em;
		font-weight: bold;
		@media #{$screen-l} {
			float: right;
			body.home & {
				font-size: 1em;
				margin-top: 2em;
			}
		}
		a {
			display: inline-block;
			margin-left: .25em;
			margin-right: .25em;
			@media #{$screen-m} {
				margin-left: 1.25em;
				margin-right: 0;
			}
			text-decoration: none;
			color: white;
			font-family: $sans;
			&:hover {
				text-decoration: underline;
			}
			&.button {
				background: white;
				color: black;
				padding: .25em 1em;
				border-radius: 3px;
				border-bottom: 2px solid rgba(0,0,0,.5);
			}
		}
	}
}

#page-footer {
	border-top: 2px solid white;
	padding-top: 1.5em;
	margin: 1.5em;
	p {
		margin-left: auto;
		margin-right: auto;
	}
	.meta {
		text-align: center;
		margin: 1.5em 0;
		font-family: $sans;
		font-weight: bold;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.social {
		text-align: center;
		margin: 1.5em 0;
		font-family: $sans;
		a {
			text-decoration: none;
			margin: 0 .5em;
			.ss-icon {
				position: relative;
				top: .1em;
			}
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}
	.message {
		text-align: center;
		font-style: italic;
		em, cite {
			font-style: normal;
		}
	}
	.copyright {
	  font-family: $sans;
	  font-size: .9em;
	  text-align: center;
	}
}

article {
	padding: 0 1.35em 10%;
	h1, h2, h3, h4, p, ul, ol {
		max-width: 35em;
		margin-left: auto;
		margin-right: auto;
	}
	h1 {
	  font-size: 1.5em;
	  max-width: 23.33333em;
	  margin: 2.5em auto 1em;
	  padding-bottom: .25em;
	  border-bottom: 1px solid rgba(0,0,0,.25);
	}
	header {
		h1 {
		  font-size: 2.5em;
		  max-width: none;
		  border: none;
		  padding: 0;
			margin: 0 0 .25em;
		}
	}
	header {
		text-align: center;
		margin: 0 0 2.7em;
		padding: 3em 0 2em;
		border-bottom: 3px double rgba(0,0,0,.1);
		&.portrait {
			background: green;
			display: table;
			width: 100%;
			.header-image {
				display: table-cell;
			}
			.header-title {
				display: table-cell;
				text-align: center;
				vertical-align: middle;
			}
		}
		.type {
			text-transform: uppercase;
			letter-spacing: .2em;
			font-size: smaller;
			font-weight: bold;
			margin: 0 auto 1em;
			border-bottom: 1px solid rgba(0,0,0,.1);
			@media #{$screen-m} {
				width: 50%;
			}
		}
		h2 {
			margin: 0;
			font-style: italic;
			font-size: 1.25em;
			margin: .5em auto;
			em, cite, i {
			  font-style: normal;
			}
		}
		.by {
			padding-top: .15em;
			margin-top: .15em;
		}
	}
	footer {
		max-width: 35em;
		margin: 4.5em auto 0;
		&:before {
			content: '';
			display: block;
			border-top: 1px solid rgba(0,0,0,.25);
			margin: 0 0 .5em;
			width: 50%;
		}
	}
  .intro {
    font-family: $sans;
    max-width: 35em;
    margin: 0 auto 3em;
    p {
      max-width: none;
      @media #{$screen-m} {
        font-size: .9em;      
      }
    }
  }
}


.gifswap {
	position: relative;
	img {
		display: block;
	}
	.starter {
		position: absolute;
		top: 0;
		left: 0;
	}
}

a.letter {
  display: block;
  clear: both;
  padding: .75em;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid rgba(255,255,255,.25);
  border-bottom: 2px solid white;
  h3, h4 {
    margin: 0;
    @media #{$screen-m} {
      display: inline;
    }
  }
  &:hover {
    background: rgba(255,255,255,.05);
  }
}

a.feature-smalls {
  position: relative;
  display: block;
  background: rgba(255,255,255,.1);
  padding: .75em 25% .75em .75em;
  font-size: .8em;
  margin: 2em 0 4em;
  text-decoration: none;
  border-bottom: 2px solid white;
  overflow: hidden;
  .introducing {
    margin: 0;
  }
  .feature {
    text-transform: uppercase;
    letter-spacing: .15em;
    margin: 0;
  }
  .title {
    margin: .5em 0 .25em;
  }
  .subtitle, .overtitle {
    font-family: $serif;
    margin: 0;
    font-style: italic;
    em, cite, i {
      font-style: normal;
    }
  }
  .by {
    margin: 1em 0 .5em;
  }
  figure {
    width: 25%;
    position: absolute;
    top: .75em;
    right: .75em;
    img {
      box-shadow: 0 0 5px rgba(0,0,0,.5);
    }
    @media #{$screen-m} {
      width: 33.33333%;
    }
    @media #{$screen-l} {
      right: 10%;
      width: 40%;
    }
  }
  &:hover {
    background: rgba(255,255,255,.15);
  }
}

#mailchimp {
	max-width: 25em;
	margin: auto;
	background: rgba(0,0,0,.05);
	padding: 0 .5em;
	border-radius: 3px;
	input {
		font-family: $sans;
	}
	#mc_embed_signup div#mce-responses {
		margin: 0;
		padding: 0;
		width: auto;
		font-family: $sans;
		.response {
			padding: 0;
			margin: .75em 0;
		}
	}
}


.group:before,
.group:after {
    content: " ";
    display: table;
}
.group:after {
    clear: both;
}