---
layout: default
class: home
---
<div class="cover">

	<h2 class="tagline">An Ongoing Conversation.</h2>
	
	{% for post in site.categories.smalls limit:1 %}
	  <a class="feature-smalls" href="{{ post.url }}">
	    <figure>
        {% include picture.html path=post.cover %}
      </figure>
	    <h4 class="introducing">Introducing</h4>
	    <h3 class="feature">Small Plates</h3>
	    <h1 class="title">{{ post.title }}</h1>
	    <h2 class="subtitle">{{ post.subtitle }}</h2>
	    <h3 class="by">by {{ post.by }}</h3>
	  </a>
	{% endfor %}
	
	{% for issue in site.data.issues %}
	<section class="toc outset">
		<div class="badge">
			<h2>
				Issue
				<strong>{{ issue[1].number }}</strong>
			</h2>
		</div>
		{% assign contents = issue[1].contents %}
		{% include posts/cards.html contents=contents %}
	</section>
	{% endfor %}
	
</div>