---
layout: default
class: home
---
<div class="cover">

	<h2 class="tagline">An Ongoing Conversation.</h2>
	
	{% for issue in site.data.issues limit:1 %}
	  {% include issue.html %}
	{% endfor %}

	{% for post in site.categories.smalls limit:1 %}
	  {% include post/small-plates.html %}
	{% endfor %}
	
	{% for issue in site.data.issues limit:1 offset:1 %}
	  {% include issue.html %}
	{% endfor %}
	
	{% for post in site.categories.smalls limit:1 offset:1 %}
	  {% include post/small-plates.html %}
	{% endfor %}
	
	{% for issue in site.data.issues limit:1 offset:2 %}
	  {% include issue.html %}
	{% endfor %}

	{% for post in site.categories.smalls limit:1 offset:2 %}
	  {% include post/small-plates.html %}
	{% endfor %}
	
	{% for issue in site.data.issues limit:1 offset:3 %}
	  {% include issue.html %}
	{% endfor %}
	
	{% for post in site.categories.smalls limit:1 offset:3 %}
	  {% include post/small-plates.html %}
	{% endfor %}
		
	{% for post in site.categories.smalls limit:1 offset:4 %}
	  {% include post/small-plates.html %}
	{% endfor %}
		
</div>